openai==1.11.1
streamlit==1.6.0
os
requests
azure-storage-blob==12.9.0
snowflake-connector-python==2.6.4
Pillow==8.4.0
pandas==1.3.3
matplotlib==3.4.3
plotly==5.3.1
numpy==1.21.2
streamlit-option-menu==0.5.0
streamlit-modal==0.2.0
streamlit-float==0.1.1
